{% extends 'app/_template.html.twig' %}

{% block title %}
    Créer un article
{% endblock %}

{% block content %}
    <div id="content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div id="form-submit">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('new-screen') }}
{% endblock %}